<!DOCTYPE html>
<html>
  <head>
    <title>Smatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <h1>
        <a href="">
          <img class="rogo" src="/assets/rogo1.png" width="85" height="95">
        </a>
      </h1>

      <div class="header-list">
        <ul>
          <li><%= link_to "ログイン", posts_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        </ul>
      </div>
    </header>

  
   <div class="hamburger-menu">
     <input type="checkbox" id="menu-btn-check">
     <label for="menu-btn-check" class="menu-btn"><span></span></label>
  
     <input type="checkbox" id="menu-btn-check">
     <label for="menu-btn-check" class="menu-btn"><span></span></label>

     <div class="menu-content">
        <ul>

        <% if user_signed_in? %>
          <%= link_to "マイページへ", user_path(current_user.id) %>
        <% end %>
               
          <li><%= link_to "記録をつける", new_post_path %></li>
            
          <li><%= link_to "過去の記録一覧", posts_path %></li>
            
        </ul>
     </div>

   </div>

    <main>

     <%= yield %>

    </main>

    <footer>    
      <p>© 2022 Smatch</p>
    </footer>

  </body>

</html>
